.registration {
  margin: auto;
  margin-top: 1vw;
  border: 1px solid;
  width: 500px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.email-wrapper-registration{
  margin-top: 25px;
}

.button-registration-wrapper{
  margin-left: 120px;
  margin-right: 120px;
}

.toggle-password-button {
  width: 20px;
	height: 20px;
	background: url(/src/assets/image/view.svg) 0 0 no-repeat;
}

.view {
	background: url(/src/assets/image/no-view.svg) 0 0 no-repeat;
}
