.CatalogWrapper{
    display: flex;
}
.filters{
    border-right: 1px black solid;
    width: 15vw;
    height: 85.5vh;
    margin: 0;
}
.navigation{
    border-bottom: 1px black solid;
    margin: 0;
    width: 85vw;
    height: 15vh;
}
.products{
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
}
.cardWrapper{
    width: 150px;
    min-height: 300px;
    border: 1px black solid;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.cardWrapper img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}
.cardWrapper p {
    font-size: 10px;
}
.discount{
    color: red;
}
.navigation{
    display: flex;
}
ul{
    list-style: none;
}
li:hover{
    color: blue;
}
.active{
    color: red;
}
.category{
    font-size: 20px;
    font-weight: 700;
}
