body {
  margin: 0;
}
.headerButtons {
  display: flex;
  justify-content: space-around;
}
.header {
  width: 100%;
  height: 70px;
  color: black;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  background-color: rgb(245, 245, 245);
}
.headerLogo {
  display: flex;
  justify-content: center;
}

.headerButtons a,
.headerButtons a:link,
.headerButtons a:visited {
  font-size: 20px;
  color: black;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 black;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition:
    color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  font-weight: 500;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 3vh 8vh 2vh 0;
}
.headerButtons a:hover {
  box-shadow: inset 25vh 0 0 0 black;
  color: white;
}

.logout:hover {
  cursor: pointer;
}
.logoHTML {
  display: flex;
  text-decoration: none;
  color: black;
  margin: 1vh 0 0 2vw;
}
.logoHTML h1 {
  margin: 1vh 0 3vh 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

input {
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 5px;
  max-width: 200px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.3s ease-in-out;
}

#input:focus {
  background-color: #eaeaea;
}

#input:disabled {
  background-color: #dadada;
  color: #a3a3a3;
}

#input:read-only {
  background-color: #f4f4f4;
  color: #a3a3a3;
  cursor: not-allowed;
}
/* popup */
.modal-content {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 250px;
  border-radius: 20px;
  position: fixed;
  top: -100%;
  transition: top 0.5s ease-in-out;
}

.display-none {
  display: none;
}

/* Burger Menu*/

.header__burger {
  display: none;
  margin-top: 20px;
  width: 30.5px;
  height: 22px;
  position: relative;
  margin: 1vw 3vw 0 0;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
  height: 1.5px;
}

.burger__line_third {
  bottom: 0;
}

.shadow {
  display: none;
  width: 100vw;
  height: 500vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.6);
  z-index: 50;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.shadow_active {
  z-index: 80;
}

.body_hidden {
  overflow: hidden;
}

@media (max-width: 800px) {
  .headerButtons {
    display: none;
  }
  .header__burger {
    display: block;
    margin-top: 15px;
    z-index: 100;
    transition: 0.4s all linear;
  }
  .headerButtons {
    margin-right: 0;
    width: 320px;
    height: 100%;
    position: fixed;
    background-color: rgba(41, 41, 41, 0.95);
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all linear;
    border: 1px solid;
    border-radius: 20px;
  }
  .headerButtons a,
  .headerButtons a:link,
  .headerButtons a:visited {
    margin-right: 0;
  }

  .head_nav_active {
    transform: translateX(0);
  }
  .burger_active {
    transform: rotate(90deg);
  }
  .burger__line_active {
    background-color: #eaeaea;
  }
  .headerButtons a,
  .headerButtons a:link,
  .headerButtons a:visited {
    color: #eaeaea;
  }
}

